[submodule "external/simbridge"]
	path = external/simbridge
	url = https://github.com/SPQRTeam/simbridge.git
	branch = dependency-inversion
[submodule "external/circus"]
	path = external/circus
	url = https://github.com/SPQRTeam/circus.git
	branch = dependency-inversion
