[Unit]
Description=Arena Robot Policy
After=network.target

[Service]
Type=simple
User=booster
Group=booster
SupplementaryGroups=video
WorkingDirectory=/home/booster/spqr/arena
Environment=FASTRTPS_DEFAULT_PROFILES_FILE=/opt/booster/BoosterRos2/fastdds_profile.xml
Environment=ROS_DISTRO=humble
Environment=ROS_VERSION=2
Environment=ROS_LOCALHOST_ONLY=0
Environment=AMENT_PREFIX_PATH=/opt/ros/humble
Environment=LD_LIBRARY_PATH=/home/booster/spqr/arena/.pixi/aarch64-sysroot/lib:/usr/lib/aarch64-linux-gnu:/usr/lib/aarch64-linux-gnu/nvidia:/usr/local/cuda-12.6/targets/aarch64-linux/lib
Environment=MODELS_DIR=/home/booster/spqr/arena/models
Environment=SPQR_SOUNDS_PATH=/home/booster/spqr/arena/sounds
ExecStart=/home/booster/spqr/arena/build/aarch64/main --backend booster --task t1-velocity-flat
Restart=on-abnormal
RestartSec=5
TimeoutStartSec=30
TimeoutStopSec=30
StandardOutput=journal
StandardError=journal
SyslogIdentifier=arena
